.title-filters{
  display: flex;
  justify-content: space-between;

  >.filter {
    padding-top: 20px;
  }
}

.approved{
  color: lightgreen;
}

.rejected {
  color: rgba(255, 51, 0, 0.89)
}

.table-cell{
  display: flex;
  justify-content: center;
}

.editorial-projects-container{
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 3%;
}
