<div class="card-container">
  <mat-card class="my-card">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="profileForm" (ngSubmit)="login()">
        <div class="form-container">
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="userName">
          </mat-form-field>
          <div *ngIf="profileForm.dirty && profileForm.invalid && profileForm.value.userName.length === 0">l'email è richiesta</div>
          <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password">
          </mat-form-field>
          <div *ngIf="profileForm.dirty && profileForm.invalid && profileForm.value.password.length === 0">la password è richiesta</div>
        </div>
        <button [disabled]="profileForm.invalid || isSubmitted" type="submit" mat-button>Login</button>
      </form>
    </mat-card-content>
  </mat-card>
  <div *ngIf="isSubmitted">
    <mat-spinner></mat-spinner>
  </div>

</div>
