<mat-card>
  <mat-card-content>
    <form [formGroup]="editEditorialProjectFormGroup">
      <div style="display: flex; flex-direction: column;">
        <div>
          <mat-label>Title</mat-label>
          <input matInput type="text" formControlName="title">
        </div>
        <div>
          <mat-label>Settore</mat-label>
          <mat-select formControlName="sectorId">
            <!-- <mat-option *ngFor="let sector of sectors$ | async" [value]="sector.id">{{sector.description}}</mat-option> -->
          </mat-select>
        </div>
        <div>
          <mat-label>Autori</mat-label>
          <mat-select formControlName="authorId">
            <!-- <mat-option *ngFor="let author of authors" [value]="author.id">{{author.email}}</mat-option> -->
          </mat-select>
        </div>
        <div>
          <mat-label>Pagine</mat-label>
          <input matInput type="number" formControlName="pages"/>
        </div>
        <div>
          <mat-label>Prezzo</mat-label>
          <input matInput type="number" formControlName="price"/>
        </div>
        <div>
          <mat-label>Costo</mat-label>
          <input matInput type="number" formControlName="cost"/>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>
